.wrapper {
    padding-top: 100px;
}

//about
.about {
    padding-top: 8rem;
    background: $main-color;
    color: #fff;
}

.a_table {
    display: table;
    width: 960px;
    margin: 0 auto;
}

.a_twoText {
    width: 960px;
    margin: 60px auto 0 auto;
    font-size: 1rem;
    line-height: 1.5rem;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.a_slogan {
    width: 960px;
    margin: 60px auto 0 auto;
}

.a_slogan h2 {
    font-size: 2rem;
    line-height: 3rem;
    text-shadow: 2px 2px 0 #a22b2b;
    font-weight: bold;
}

.a_block {
    display: table-cell;
    padding: .5%;
    vertical-align: top;
    box-sizing: border-box;
    h1 {
        letter-spacing: 1rem;
        font-size: 3.5rem;
        line-height: 4rem;
    }
    h2 {
        line-height: 2rem;
    }
    h6 {
        letter-spacing: .15rem;
        padding: 1rem 0;
        padding-right: 1rem;
    }
    p {
        line-height: 1.5rem;
    }
}

.w35 {
    width: 35%;
}

.w65 {
    width: 65%;
}

//faq
.faq {
    .c_title {
        font-size: 4.5rem;
        font-weight: 100;
    }
}

.faq_block {
    max-width: 960px;
    margin: 0 auto;
    width: 100%;
    padding: 5rem 1rem;
    h1 {
        font-size: 2rem;
        color: $main-color;
        letter-spacing: .3rem;
        margin-bottom: 2rem;
        line-height: 3rem;
    }
    h6 {
        line-height: 2rem;
        color: $text-color;
        a {
            display: block;
            color: $main-color;
            transition: .2s;
            -webkit-transition: .2s;
            -moz-transition: .2s;
            &:hover {
                color: $hover-color;
                transition: .2s;
                -webkit-transition: .2s;
                -moz-transition: .2s;
            }
            span {
                font-size: 1.75rem;
            }
        }
    }
}


/*blog*/

.blogclass {
    text-align: center;
}

.blogclass .ranges {
    display: inline-block;
    background: #ffb9b9;
    padding: 15px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}

.blogclass .ranges .listbox {
    font-size: 0px;
}

.blogclass .ranges .listbox .grids {
    display: inline-block;
    padding: 0 25px;
    border-right: 1px solid #fff;
    text-decoration: none;
}

.blogclass .ranges .listbox .grids:last-child {
    border: none;
}

.blogclass .ranges .listbox .grids .imgs {
    width: 73px;
    height: 48px;
    background-size: 100%;
    margin: 0 auto;
}

.blogclass .ranges .listbox .grids .imgs.bg01 {
    background-image: url(../images/icon_img01.png);
}

.blogclass .ranges .listbox .grids .imgs.bg02 {
    background-image: url(../images/icon_img02.png);
}

.blogclass .ranges .listbox .grids .imgs.bg03 {
    background-image: url(../images/icon_img03.png);
}

.blogclass .ranges .listbox .grids .imgs.bg04 {
    background-image: url(../images/icon_img04.png);
}

.blogclass .ranges .listbox .grids .imgs.bg05 {
    background-image: url(../images/icon_img05.png);
}

.blogclass .ranges .listbox .grids .text {
    color: #fff;
    font-size: 18px;
    padding: 5px 0 0 0;
}

.blogclass .ranges .listbox .grids:hover .text {
    color: #bd2f43;
}

.blogclass .ranges .listbox .grids:hover .imgs.bg01,
.blogclass .ranges .listbox .grids.hold .imgs.bg01 {
    background-image: url(../images/icon_img01s.png);
}

.blogclass .ranges .listbox .grids:hover .imgs.bg02,
.blogclass .ranges .listbox .grids.hold .imgs.bg02 {
    background-image: url(../images/icon_img02s.png);
}

.blogclass .ranges .listbox .grids:hover .imgs.bg03,
.blogclass .ranges .listbox .grids.hold .imgs.bg03 {
    background-image: url(../images/icon_img03s.png);
}

.blogclass .ranges .listbox .grids:hover .imgs.bg04,
.blogclass .ranges .listbox .grids.hold .imgs.bg04 {
    background-image: url(../images/icon_img04s.png);
}

.blogclass .ranges .listbox .grids:hover .imgs.bg05,
.blogclass .ranges .listbox .grids.hold .imgs.bg05 {
    background-image: url(../images/icon_img05s.png);
}

.blogclass .ranges .listbox .grids.hold .text {
    color: #bd2f43;
}

.blogword {
    padding: 20px 20px 0 20px;
    max-width: 960px;
    margin: 0 auto;
}

.blogword .list {
    border-bottom: #ffb9b9 1px solid;
    padding: 25px 0;
    display: table;
    width: 100%;
}

.blogword .list .tlist {
    display: table-cell;
    vertical-align: top;
    font-size: 26px;
    color: #292929;
    line-height: 36px;
}

.blogword .list .more {
    display: table-cell;
    vertical-align: top;
    width: 75px;
    text-align: center;
}

.blogTitle {
    font-size: 2rem;
    line-height: 3rem;
    margin-bottom: 2rem;
    padding: 25px 0 0 0;
    color: #292929;
}

.blogTxt {
    position: relative;
    font-size: 1.125rem;
    line-height: 2rem;
    color: #777;
    max-height: 384px;
    overflow: hidden;
}

.blogMore {
    text-align: center;
    padding: 40px 0 0 0;
}

@mixin page--md() {
    .about {
        padding: 5rem 1rem;
    }
    .a_table {
        width: 100%;
    }
    .a_twoText {
        width: 100%;
        text-align: left;
    }
    .a_slogan {
        width: 100%;
    }
    .a_block {
        display: block;
        width: 100%;
        text-align: left;
        padding: 0;
        h1 {
            font-size: 2rem;
            line-height: 2.5rem;
        }
        &.w35 {
            border-bottom: 1px solid #fff;
        }
        &.w65 {
            padding-top: 1.5rem;
        }
    }
    .faq {
        .c_title {
            font-size: 3rem;
        }
    }
    .faq_block {
        padding: 3rem 1.5rem;
        width: 100%;
        box-sizing: border-box;
    }
    /*blog*/
    .blogclass .ranges {
        padding: 10px;
    }
    .blogclass .ranges .listbox .grids .text {
        font-size: 16px;
    }
}

@mixin page--sm() {
    /*blog*/
    .blogclass .ranges {
        display: block;
        padding: 15px 20px;
        position: relative;
        border-radius: 0px;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
    }
    .blogclass .ranges .btnleft {
        display: block;
        width: 14px;
        height: 24px;
        position: absolute;
        left: 5px;
        top: 50%;
        margin-top: -12px;
        cursor: pointer;
        background-image: url(../images/btnleft.png);
        background-repeat: no-repeat;
        background-size: 100%;
    }
    .blogclass .ranges .btnright {
        display: block;
        width: 14px;
        height: 24px;
        position: absolute;
        right: 5px;
        top: 50%;
        margin-top: -12px;
        cursor: pointer;
        background-image: url(../images/btnright.png);
        background-repeat: no-repeat;
        background-size: 100%;
    }
    .blogclass .ranges .listbox .grids {
        padding: 0 10px;
    }
    .blogclass .ranges .listbox .grids .imgs {
        width: 48px;
        height: 32px;
    }
    .blogword .list {
        display: block;
    }
    .blogword .list .tlist {
        display: block;
    }
    .blogword .list .more {
        display: block;
        margin: 20px auto 0 auto;
    }
}